[submodule "src/riptide_autonomy"]
	path = src/riptide_autonomy
	url = https://github.com/osu-uwrt/riptide_autonomy
	branch = ros2
[submodule "src/riptide_control"]
	path = src/riptide_control
	url = https://github.com/osu-uwrt/riptide_control
	branch = master
[submodule "src/riptide_core"]
	path = src/riptide_core
	url = https://github.com/osu-uwrt/riptide_core
	branch = master
[submodule "src/riptide_launch"]
	path = src/riptide_launch
	url = https://github.com/osu-uwrt/riptide_launch
[submodule "src/riptide_perception"]
	path = src/riptide_perception
	url = https://github.com/osu-uwrt/riptide_perception
[submodule "src/chameleon_tf"]
	path = src/chameleon_tf
	url = https://github.com/coalman321/chameleon_tf
[submodule "src/nortek_dvl"]
	path = src/nortek_dvl
	url = https://github.com/osu-uwrt/nortek_dvl
[submodule "src/riptide_gui"]
	path = src/riptide_gui
	url = https://github.com/osu-uwrt/riptide_gui
[submodule "src/apriltag_msgs"]
	path = src/apriltag_msgs
	url = https://github.com/christianrauch/apriltag_msgs.git
[submodule "src/apriltag_ros"]
	path = src/apriltag_ros
	url = https://github.com/christianrauch/apriltag_ros.git
[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "src/riptide_simulator"]
	path = src/riptide_simulator
	url = https://github.com/osu-uwrt/riptide_simulator
